<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}DEFAULT-TITLE{% endblock title %}</title>

    <!-- link rel="icon" href="{{ url_for('static', path='/images/android-chrome-192x192.png') }}" sizes="192x192" / -->
    <link rel="icon" href="{{ url_for('static', path='/images/favicon-32x32.png') }}" sizes="32x32" />

    <!-- CSS -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet" />

    <!-- link rel="import" id="t001" href="{{ url_for('component', path='/apstra-server/apstra-server.html') }}" / -->
    <!-- script src="{{ url_for('component', path='/apstra-server/apstra-server.js') }}"></script -->

    <!-- script src="{{ url_for('component', path='/test-component/test-component.js') }}"></script -->

    <script type="module" src="{{ url_for('component', path='/apstra-server.js') }}"></script>
    {% endblock head %}
</head>

<body>

    <!-- apstra-server></apstra-server -->


    <!-- header begin @base -->
    <div class="header">
        <apstra-server style="display: flex; justify-content: flex-end"></apstra-server>
{% include 'include/topnav.html' %}
    </div>
    <!-- header end @base -->
    <!-- container begin @base -->
    <div class="container" stype="width: 100%; display: table;">
        <div style="display: table-row;">
            <!-- side begin @base -->
            <div class="sidebar" style="display: table-cell;">
{% include 'include/sidebar.html' %}
            </div>
            <!-- side end @base -->
            <!-- page content begin @base -->
            <div style="display: table-cell; width: 100%; background: aquamarine;">
{% block page_content %}
{% endblock %}
{% block scripts %}
{% endblock %}
            </div>
        </div>
        <!-- page content end @base -->
    </div>
    <!-- container end @base -->
    <!-- footer begin @base -->
    <div class="footer" style="background: darkslateblue;">
{% include 'include/footer.html' %}
    </div>
    <!-- footer end @base -->

</body>

</html>
