<!DOCTYPE html>
<html lang="en">

<head>
    <title>Consolidation</title>

    <link rel="icon" href="/images/powered-on.svg" />

    <link href="/css/style.css" rel="stylesheet" />

    <script src="/js/dexie.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/htmx.min.js"></script>
</head>

<body>
    <aside class="sidebar">
        <h3>Commands</h3>
        <div>            
            <div id="load-env-div" class="data-state" style="padding-left: 6px;padding-right: 6px;font-family: Arial;font-size: 14px;" data-state="init">
                Load
                <img id="disconnect" src="/images/trash.svg" alt="trash env" align="right" hx-get="/disconnect" hx-target="#last-message"/>
                <a href="/static/env-example.yml" download="env-example.yml"><img src="/images/download.svg" align="right" /></a>
                <img id="upload-env-ini-img" src="/images/upload.svg" alt="Upload ini" align="right" onclick="document.getElementById('upload-env-ini-input').click()"/><input type="file" id="upload-env-ini-input" name="file"  hx-encoding="multipart/form-data" hx-post="/upload-env-ini" hx-target="#last-message" hx-trigger="change" style="display: none;">
                
                <!-- <form hx-encoding="multipart/form-data" hx-post="/upload-env-ini" hx-target="#last-message" > -->
                    <!-- <img id="upload-env-ini-img" src="/images/upload.svg" alt="Upload ini" align="right" >                         -->
                    <!-- <input type="file" id="upload-env-ini-input" name="file">
                    <button type="submit"><img id="upload-env-ini-img" src="/images/upload.svg" alt="Upload ini" > </button>
                </form> -->

            </div>
            <div>
                <button id="connect" class="data-state" type="button" data-state="init" hx-get="/connect" hx-target="#last-message">Connect</button>
            </div>
            <div>
                <button id="sync" type="button" data-state="init" class="data-state" hx-get="/sync" hx-target="#last-message">Sync States</button>
            </div>
            <div>
                <button id="migrate-access-switches" type="button" data-state="init" class="data-state">Migrate Access Switches</button>
            </div>
            <div>
                <button id="migrate-generic-systems" type="button" data-state="init" class="data-state">Migrate Generic Systems</button>
            </div>
            <div>
                <button id="migrate-virtual-networks" type="button" data-state="init" class="data-state">Migrate Virtual Networks</button>
            </div>
            <div>
                <button id="migrate-cts"  type="button" data-state="init" class="data-state">Migrate CTs</button>
            </div>
            <div>
                <button id="compare-config" type="button" data-state="init" class="data-state">Pull Configurations</button>
            </div>
            <div>
                <button type="button" data-state="init" class="data-state">Move Devices</button>
            </div>
            <div>
                <label>Last Message</label>
                <div id="last-message"></div>
            </div>
        </div>
    </aside>

    <div class="container">

        <header class="header">
            <table class="no-border">
                <tr class="no-border">
                    <td class="no-border" style="width: 100%;">
                        <a href="/"><img style="object-position: left top;" src="/images/home.svg" alt="Home" width="30" height="30"></a>
                        <a href="/css/style.css"><img src="/images/css-3.svg" alt="style.css" width="30" height="30"></a>
                    </td>
                    <td class="no-border">
                        <table>
                            <tr>
                                <th>server</th>
                                <th>port</th>
                                <th>username</th>
                                <th>password</th>
                            </tr>
                            <tr>
                                <td><input id="apstra-host" data-id readonly></th>
                                <td><input id="apstra-port" readonly></th>
                                <td><input id="apstra-username" readonly></th>
                                <td><input id="apstra-password" type="password" readonly /></th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </header>


        <div id="main_bp" class="main-blueprint data-state" data-id data-state="init">
            M
        </div>


        <div id="tor_bp" class="tor-blueprint data-state" data-id data-state="init">
            T
        </div>


        <div class="main-access-switch">
            <svg viewBox="0 0 200 75" width="400px" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <rect id="leaf" width="90" height="25" ry="5" />
                    <rect id="access-gs" width="200" height="25" ry="5" />
                    <rect id="access" width="90" height="25" ry="5" />
                    </defs>
                <use id="leaf1-box" x="0" y="0" href="#leaf" class="data-state" data-state="init" />
                <text id="leaf1-label" x="50" y="12" text-anchor="middle" alignment-baseline="central" class="data-state" data-state="init">leaf1</text>
            
                <use id="leaf2-box" x="110" y="0" href="#leaf" class="data-state" data-state="init"/>
                <text id="leaf2-label" x="160" y="12" text-anchor="middle" alignment-baseline="central">leaf2</text>

                <use id="access-gs-box" x="0" y="50" href="#access-gs" class="data-state" data-state="init" />
                <text id="access-gs-label" x="100" y="62" text-anchor="middle" alignment-baseline="central">tor-gs</text>

                <use id="access1-box" x="0" y="50" href="#access" visibility="hidden" class="data-state" data-state="init" />
                <text id="access1-label" x="50" y="62" text-anchor="middle" alignment-baseline="central" visibility="hidden">access1</text>
            
                <use id="access2-box" x="110" y="50" href="#access" visibility="hidden" class="data-state" data-state="init" />
                <text id="access2-label" x="160" y="62" text-anchor="middle" alignment-baseline="central" visibility="hidden">access2</text>

                <line x1="30" y1="25" x2="30" y2="50" />
                <line x1="60" y1="25" x2="140" y2="50" />
                <line x1="140" y1="25" x2="60" y2="50" />
                <line x1="170" y1="25" x2="170" y2="50" />
                <line id="peer-link" x1="90" y1="62" x2="110" y2="62" visibility="hidden" />
                <text id="peer-link-name" class="interface-name" x="100" y="60" visibility="hidden">et-0/0/53</text>

                <text id="leafsw-a48" class="interface-name" x="25" y="25">et-0/0/20</text>
                <text id="leafsw-b48" class="interface-name" x="65" y="25">et-0/0/21</text>
                <text id="leafsw-a49" class="interface-name" x="135" y="25">et-0/0/20</text>
                <text id="leafsw-b49" class="interface-name" x="175" y="25">et-0/0/21</text>

                <text id="access1-intf1" class="interface-name" x="25" y="53">et-0/0/48</text>
                <text id="access1-intf2" class="interface-name" x="65" y="53">et-0/0/49</text>
                <text id="access2-intf1" class="interface-name" x="135" y="53">et-0/0/48</text>
                <text id="access2-intf2" class="interface-name" x="175" y="53">et-0/0/49</text>
            </svg>
        </div>


        <div class="tor-access-switch">
            <svg viewBox="0 0 200 75" width="400px" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <rect id="access" width="90" height="25" ry="5" />
                    <rect id="leaf-gs" width="200" height="25" ry="5" />
                </defs>
            
                <use id="leaf-gs-box" x="0" y="0" href="#leaf-gs" class="data-state" data-state="init"/>
                <text id="leaf-gs-label" x="100" y="12" text-anchor="middle" alignment-baseline="central">leaf-gs</text>
            
                <use id="tor1-box" x="0" y="50" href="#access" class="data-state" data-state="init" />
                <text id="tor1-label" x="50" y="62" text-anchor="middle" alignment-baseline="central">tor1</text>
            
                <use id="tor2-box" x="110" y="50" href="#access" class="data-state" data-state="init"/>
                <text id="tor2-label" x="160" y="62" text-anchor="middle" alignment-baseline="central">tor2</text>
            
                <line x1="30" y1="25" x2="30" y2="50" />
                <line x1="60" y1="25" x2="140" y2="50" />
                <line x1="140" y1="25" x2="60" y2="50" />
                <line x1="170" y1="25" x2="170" y2="50" />
                <line x1="90" y1="62" x2="110" y2="62" />

                <text id="leafgs-a48" class="interface-name" x="25" y="25">et-0/0/20</text>
                <text id="leafgs-b48" class="interface-name" x="65" y="25">et-0/0/21</text>
                <text id="leafgs-a49" class="interface-name" x="135" y="25">et-0/0/20</text>
                <text id="leafgs-b49" class="interface-name" x="175" y="25">et-0/0/21</text>
    
                <text class="interface-name" x="100" y="60">et-0/0/53</text>

                <text id="access1-intf1" class="interface-name" x="25" y="53">et-0/0/48</text>
                <text id="access1-intf2" class="interface-name" x="65" y="53">et-0/0/49</text>
                <text id="access2-intf1" class="interface-name" x="135" y="53">et-0/0/48</text>
                <text id="access2-intf2" class="interface-name" x="175" y="53">et-0/0/49</text>
    
            </svg>
        </div>

        <details class="generic-systems" open>

            <summary id="generic-systems-caption" class="section-header">Generic Systems (0/0) servers, (0/0) links, (0/0) interfaces</summary>
            <!-- generic-systems></generic-systems -->
            <div class="row">
                <table id="generic-systems-table">
                    <thead>
                        <tr>
                            <th id="num_links">#</th>
    
                            <th>LABEL</th>
                            <th>New LABEL</th>
    
                            <th>AE</th>
                            <th>CTs</th>
                            <th>speed</th>
    
                            <th>tags</th>
                            <th>server-intf</th>
                            <th>switch</th>
                            <th>switch-intf</th>
                        </tr>                    
                    </thead>
                </table>
            </div>
        </details>
        
        <details class="virtual-networks" open>
            <summary id="virtual-networks-caption" class="th" data-vns>Virtual Networks</summary>
            <div id="virtual-networks"></div>    
        </details>

        <details class="device-configuration-0" open>
            <summary id="switch-0">switch A</summary>
            <div class="row">
                <section class="column">
                    <a id="main-config-caption-0">device in main blueprint</a>
                    <pre id="main-config-text-0"></pre>        
                </section>
    
                <section class="column">
                    <a id="tor-config-caption-0"">device in TOR blueprint</a>
                    <pre id="tor-config-text-0"></pre>                        
                </section>                    
            </div>

        </details>

        <details class="device-configuration-1" open>
            <summary id="switch-1">switch B</summary>
            <div class="row">
                <section class="column">
                    <a id="main-config-caption-1">device in main blueprint</a>
                    <pre id="main-config-text-1"></pre>                        
                </section>
    
                <section class="column">
                    <a id="tor-config-caption-1">device in TOR blueprint</a>
                    <pre id="tor-config-text-1"></pre>                        
                </section>
            </div>
    
        </details>

        </div>


        <footer class="footer">
            ©️ Charlie Kim
        </footer>
    
    </div>

</body>

</html>
