:root {
    --global-warning-color: orange;
    --global-ok-color: #84b135;
    --global-error-color: #e43d2f;
    --global-header-color: #eee;
    --global-th-color: #0096a4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.yellow {
    background-color: yellow;
}

.teal {
    background-color: teal;
}

.header {
    background-color: #f5f5f5;
}

.sidebar {
    background: green;
    width: 180px;
    height: max-content;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container
.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 9999;
  } */

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    z-index: 10;  /* bring it on top */
}
