        <!-- navbar begin @topnav -->
        <nav class="navbar">
            <div class="teal">
                <a href="/">home</a>
                <a href="/graphql">graphql</a>
                <a href="/static/css/style.css">css</a>
                <a href="/component/apstra-server/apstra-server.js">apstra-server.js</a>
                <a href="/component/apstra-server/apstra-server.html">apstra-server.html</a>
                <div>
                    <form hx-post='/test' hx-ext='json-enc' hx-target="#test-response-div">
                        <label>
                            Search: 
                            <input name="search" value="v1">
                        </label>
                        <label>
                            Type:
                            <input name="type" value="st1">
                        </label>
                        <input type="submit" value="Submit">            
                        <label>
                            Return Context:
                            <textarea id="test-response-div"></textarea>
                        </label>
                    </form>
                </div>
            </div>
        </nav>
        <!-- navbar end @topnav -->
